.dc_lesson_code {
  margin: -.25em 0 .75em 0;
  color: gray;
  font-style: italic;
  width: 100%;
}

.dc_lesson_question {
  font-size: 1.2em;
  margin-bottom: 1em;
  font-weight: var(--fw-light);
}
.dc_lesson_answer_flex {
  height: 1.5em;
  width: 80%;
  margin-left: -1em;
  font-weight: var(--fw-light);
}
.dc_chk_answer {
  width: 1.5rem;
  margin-left: .6rem;
  font-size: 1.6rem;
}
.dc_lesson_answer_chk {
  width: 5%;
  padding: 0;
  margin: 0;
}
.dc_lesson_correct { width: 95%; }

#dc_done { margin-top: 1em; }
