.dc_list_flex_heading {
  display: flex;
  font-weight: bold;
  border-bottom: 2px solid black;
  margin: 1em 2% 0 2%;
}
.dc_list_flex {
  display: flex;
  height: 1.2em;
  padding: .25em;
  border-radius: .25em;
  margin: 0 2% 0 2%;
}
.dc_list_flex:hover {
  font-weight: bold;
  background-color: #99CCFF;
  cursor: pointer;
}
.dc_list_shape { width: 10%; }
.dc_list_grade { width: 10%; }
.dc_list_number { width: 10%; }
.dc_list_qnum { width: 10%; }
.dc_list_question { width: 60%; overflow: hidden; }

.gf_code { width: 7%; }
.gf_color { width: 15%; }
.gf_gradelevel { width: 8%; }
.gf_number { width: 7%; }
.gf_paragraph { width: 50%; overflow: hidden; padding-right: 1em; }
.gf_options { width: 12%; }
.edit_gf_text { width: 50em !important; }

#test_word_get_recording {
  width: 8em;
}

#test_word_wrapper {
  display: inline-block;
  padding: .5em;
  border: 1px solid gray;
  border-radius: .5em;
  width: 20em;
  font-weight: bold;
  margin-right: 2em;
}

#test_already_ok {
  display: inline-block;
  color: green;
  font-weight: bold;
}
