.gf_code { width: 10%; }
.gf_color { width: 15%; }
.gf_gradelevel { width: 10%; }
.gf_number { width: 10%; }
.gf_paragraph { width: 50%; overflow: hidden; padding-right: 1em; }
.gf_options { width: 5%; }
.edit_gf_text { width: 50em !important; }
