
#gf_show_points {
  display: none;
  position: fixed;
  top: 50%;
  text-align: center;
  padding: .25em;
  border: 2px solid #006400;
  border-radius: .5em;
  font-size: 3em;
  background-color: #228b22;
  color: #dcdcdc;

  /* small screen */
  margin: 0 5% 0 5%;
  width: 90%;
}

@media screen and (min-width: 50em) {
  /* big screen */
  div#gf_show_points {
    margin: 0 40% 0 40%;
    width: 20%;
  }
}

.lesson_word {
  display: inline-block;
}

.word_def {
  display: none;
  font-size: .7em;
  border-radius: .25em;
  padding: 0 .2em 0 .2em;
  background-color: #336600;
  color: white;
  margin-left: .1em;
  height: 1.3em;
}

.word_def:hover {
  background-color: #339900;
  cursor: pointer;
}

.lesson_word:hover {
  color: blue;
  cursor: pointer;
  font-weight: 400;
}

.gf_question_wrapper {
  border: 1px solid gray;
  border-radius: var(--border-radius);
  padding: 0em 1em 1em 1em;
  font-weight: var(--fw-light);
}
.gf_question { margin-top: 1em; margin-bottom: .25em; }
.gf_answer {
  display: flex;
  margin-left: 1em;
}

.gf_question_incorrect {
  margin-top: 1em; margin-bottom: .25em;
  color: red;
  font-weight: bold;
}
.gf_answer_incorrect {
  display: flex;
  margin-left: 1em;
}

.gf_lesson_code {
  color: gray;
  font-style: italic;
  width: 100%;
}

.gf_lesson_paragraph {
  font-size: 1.4em;
  margin: 1em 0 0 0;
  font-weight: var(--fw-light);
}

.gf_chk_answer {
  position: relative;
  top: -2px;
  margin-right: .5rem;
  width: 2em;
  font-size: .5rem;
}

#dictionary_overlay {
  display: none;
  position: absolute;
  top: 40%;
  left: 40%;
  width: 20%;
  padding: 20px 20px 20px 20px;
  height: 30px;
  border: 3px solid black;
  border-radius: .5em;
  text-align: center;
  font-size: 1.4em;
  background-color: #dcdcdc;
  cursor: pointer;
}
