/*
  Logo and brand colors as defined by logoai.com

  Learn to read - font = Luckiest Guy
  Building reading skills - font = SourceSans

  Background color - white
  Main color - #1ca0c3 (blue)
  Auxilary color - #1c9ce4 (lighter blue)
  Auxilary 2 - #e4047c (red)
*/

@font-face {
  font-family: "Fredoka";
  src: url(fonts/FredokaOne-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "AzoSans";
  src: url(fonts/AzoSans-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "AzoSans";
  src: url(fonts/AzoSans-Medium.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "AzoSans";
  src: url(fonts/AzoSans-Light.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: "AzoSans";
  src: url(fonts/AzoSans-MediumItalic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

:root {
  --logo-font: Fredoka;
  --body-font: AzoSans;
  --ff-title: AzoSans;
  --ff-nav: AzoSans;

  --color-link: rgb(93,149,240);
  --color-border: #d3d3d3;
  --color-primary: #696969;
  --color-light-grey: #f1f2f2;
  --color-error: rgb(187,54,50);
  --color-recording: rgb(187,54,50,.6);
  --color-warning: #339900;
  --color-ins-playing: rgba(178,34,34,.4);

  --color-button: rgb(90,131,180);
  --color-button-hover: rgb(54,54,54);

  --border-radius: .5rem;

  --fw-light: 200;

  --fs-300: .5em;
  --fs-400: .75em;
  --fs-500: 1em;
  --fs-600: 1.25em;
  --fs-700: 1.5em;
  --fs-800: 2em;

  --input-radius: 8px;
  --input-background: #f1f2f2;
  --input-text-color: #6d6e71;
  --input-label-color: #6d6e71;
  --input-border-color: rgba(0, 0, 0, 0.23);

  --button-box-shadow: #132836;

}

@media screen and (min-width: 50em) {
  /* big screen */
  div.header-left {
    display: block;
    width: 50%;
    height: 50px;
    line-height: 50px;
  }
  div.header-right {
    width: 50%;
    height: 50px;
    line-height: 50px;
  }

  div.nav-container {
    flex-direction: row;
  }

  /* div.nav-element { border-bottom: var(--color-light-grey); } */
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    font-family: var(--ff-nav);
    font-weight: var(--fw-light);
    font-size: var(--fs-600);
}

.nav-container-left {
  justify-content: flex-start;
  gap: 1.5rem;
}

.nav-container-indent {
  margin-left: 1rem;
}

.nav-element {
  cursor: pointer;
}

.nav-element:hover {
  color: var(--color-link);
}

.ltr_checkbox {
  width: 1.5rem;
  margin-left: .6rem;
  font-size: 1.6rem;
}

.red-ball {
  width: 20px;
  height: 20px;
  background-color: var(--color-recording);
  border-radius: 10px;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

/* standard input css */
.input-wrapper {
  width: 20rem;
  height: 55px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-radius);
  background-color: #fff;
  margin-top: 1.5rem;
}

.input-text {
  position: relative;
  background-color: #fff;
  width: 90% !important;
  top: -9px;
  color: var(--input-text-color);
  border: 0;
  margin-left: 1rem !important;
  font-weight: var(--fw-light) !important;
}

.input-checkbox {
  width: 25px;
}

/* table css */
table {
  border-collapse: collapse;
  table-layout: auto;
}

table tr:nth-child(even){
  background-color: var(--color-light-grey);
}

.tr-heading {
  font-weight: bold;
}

tr {
  color: var(--color-primary);
  height: 1em;
  vertical-align: top;
  border-top-left-radius: 20px;
}

td {
  padding: .25rem;
}

.table-wrap {
  width: 100%;
  overflow-x: auto;
}

td.tmin1 { min-width: 7rem; }

@media screen and ( max-width: 40em ) {
  /* small screen table */
  td.t-ss-max12 {
    max-width: 12rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  td.t-ss-max8 {
    max-width: 8rem;
    white-space:nowrap;
    overflow:hidden;
    padding-right: 1rem;
  }
  td.t-ss-max4 {
    max-width: 4rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  td.t-ss-max2 {
    max-width: 2rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }
  td.thide { display: none; }
  td.thide-wide { display: block; }
}

.thide-wide { display: none; }

.button {
  display: inline-block;
  background-color: var(--color-button);
  height: 2.5rem;
  width: 9rem;
  border-radius: 19.5rem !important;
  color: #fff;
  font-weight: bold;
  line-height: 2.5rem !important;
  text-align: center;
  margin-top: 0.9rem;
  margin-right: 0.9rem;
  margin-bottom: 0.9rem;
  margin-left: 0;
  cursor: pointer;
  box-shadow: 0rem 0.1rem 0rem var(--button-box-shadow) !important;
}

.button-cancel {
  /* different look for cancel type buttons */
  border: 1px solid var(--button-box-shadow);
  background-color: #fff;
  color: var(--color-button);
}

.button-error {
  display: inline-block;
  color: var(--color-error);
  font-weight: bold;
}

.button:hover {
  background-color: var(--color-button-hover);
  color: #fff;
}

.input-checkbox-message {
  position: relative;
  top: -9px;
  left: 1rem;
  font-weight: var(--fw-light);
}

.input-wrapper:focus-within {
  border: 1px solid black;
}

.input-label {
  display: inline;
  position: relative;
  font-weight: bold !important;
  left: 14px;
  top: -13px;
  background-color: #fff;
  font-size: var(--fs-400);
  padding: 0 .5rem 0 .5rem !important;
  color: var(--input-label-color);
  z-index: 1;
}

.input-wrapper:hover {
  border: 1px solid black;
}

.header-container {
    width: 100%;
    margin: 0;

    display: flex;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--color-border);
    /* box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4); */
}

.header-left {
  display: none;
  font-size: var(--fs-800);
  font-family: var(--ff-title), sans-serif;
  width: 0%;
  cursor: pointer;
}

.header-right {
  display: inline-block;
  width: 100%;
  font-size: var(-fs-500);
}

.subtitle {
    font-weight: var(--fw-light);
    color: var(--color-button); /* match button */
    font-size: .9rem;
    margin: 0;
    margin-top: -20px;
}

.icon {
  color: var(--color-button);
  cursor: pointer;
  font-size: 1.2em;
}

.icon:hover {
  color: var(--color-button-hover);
}

/* Modern css reset with some changes
  ( see video series below )
  Part 1: https://www.youtube.com/watch?v=h3bTwCqX4ns&list=PL4-IK0AVhVjNDRHoXGort7sDWcna8cGPA )
  Part 2: https://www.youtube.com/watch?v=3K6zr1CdZy8

  url of css reset: https://piccalil.li/blog/a-modern-css-reset/
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit; /* resets font sizes of h1 etc. Don't use h2, h3 etc */
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end of reset */

h1 {
  font-size: var(--fs-600);
}

body {
  font-family: var(--body-font), sans-serif;
  background-color: white;
  background-attachment: fixed;
  color: var(--color-primary);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 16px;
}

.de_flex {
  display: flex;
  font-size: 1.2em;
  height: 1.2em;
  margin-top: 1em;
}
.de_label {
  text-align: right;
  padding-right: 1em;
  color: gray;
}
.de_value {}

.de_error {
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
  color: #b22222;
}

.de_message {
  font-size: .8em;
  color: gray;
}

.de_checkbox { width: 15px; }

.popup {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
}

.popup_inside {
  border: 2px solid black;
  border-radius: .5em;
  padding: 30px;
  margin: 5% 10% 0 10%;
  background-color: white;
  max-height: 80%;
  overflow: scroll;
}

.popup_title {
  font-size: 2em;
  margin-bottom: .5em;
}

.paragraph {
  font-size: .8rem;
  margin-top: .5rem;
}

#edit_paragraph {
  margin-top: 1em;
  width: 90%;
  padding: .5em;
  min-height: 8em;
}

.show_paragraph {
  border: 1px solid gray;
  border-radius: .5em;
  width: 90%;
  padding: 1em;
  font-size: 1.4em;
  margin-top: 1em;
}

.label_flex { display: flex; font-size: 1.2em; width: 50%; margin-top: .5em; }
.label { width: 30%; text-align: right; padding-right: 1em; color: gray; }
.value { width: 70%; }

.loading {
  border: 1px solid #b22222;
}

.rpt_flex_heading {
  display: flex;
  font-weight: bold;
  border-bottom: 2px solid black;
  margin-top: 10px;
  padding: 2px 0 2px 8px;
}
.rpt_flex {
  display: flex;
  padding: 2px 0 2px 8px;
  border-radius: .25em;
  height: 1.2em;
}

.rpt_highlight { background-color: #dcdcdc; }

.error {
  display: inline-block;
  color: red;
  font-weight: bold;
}

.input_short {
  width: 5em !important;
}

button {
  font-weight: bold;
  font-size: 1em;
  border: none;
  color: black;
  box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  outline: 0;
  color: gray;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-align-right {
  text-align: right;
}

.main {
  margin: 20px 2% 0 2%;
  min-height: 100px;
}

.main::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: inherit;
}

header {
}

.app-bar {
  display: flex;
}

.app-bar h1 {
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
  margin-right: 1em;
}

.task-form {
  display: flex;
  margin: 16px;
}

.task-form > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
}

.task-form > input:focus {
  outline: 0;
}

.task-form > button {
  min-width: 100px;
  height: 95%;
  background-color: #315481;
}

.tasks {
  list-style-type: none;
  padding-inline-start: 0;
  padding-left: 16px;
  padding-right: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.tasks > li {
  display: flex;
  padding: 16px;
  border-bottom: #eee solid 1px;
}

.tasks > li > span {
  flex-grow: 1;
}

.tasks > li > button {
  justify-self: flex-end;
  background-color: #ff3046;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter > button {
  background-color: #62807e;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.login-form > div {
  margin: 8px;
}

.login-form > div > label {
  font-weight: bold;
}

.login-form > div  > input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 6px;
  background: transparent;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1em;
  margin-right: 16px;
  margin-top: 4px;
}

.login-form > div > input:focus {
  outline: 0;
}

.login-form > div > button {
  background-color: #62807e;
}

input {
  font-size: 1em;
  width: 20em;
  outline: none !important;
}

.user {
  display: flex;

  align-self: flex-end;

  margin: 8px 16px 0;
  font-weight: bold;
  cursor: pointer;
}

.loading {
  display: flex;
  flex-direction: column;
  height: 100%;

  justify-content: center;
  align-items: center;

  font-weight: bold;
}

/*
.button {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin-left: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  cursor: pointer;
}

.button:hover {
  font-weight: bold;
}
*/

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

p {
  font-size: 1.2em;
  max-width: 30em;
  font-style: italic;
}

select {
  font-size: 1.2em;
  border-radius: .25em;
  padding: .25em;
}

.warning {
  display: inline;
  color: var(--color-warning);
  font-weight: bold;
}

.ins_change {
  /* just used for speaker icon for verbal instructions */
  display: inline;
  position: absolute;
  color: var(--color-button);
  cursor: pointer;
  /* small screen */
  left: 18px;
  top: 85px;
}

.ins_playing {
  display: inline;
  position: absolute;
  color: var(--color-ins-playing);
  cursor: pointer;

  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;

  /* small screen */
  left: 18px;
  top: 85px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@media screen and (min-width: 50em) {
  /* big screen */
  i.ins_change {
    left: 240px;
    top: 60px;
  }
  i.ins_playing {
    left: 240px;
    top: 60px;
  }
}

#points {
  position: fixed;
  top: 50%;
  left: 35%;
  border: 1px solid red;
  background-color: red;
  color: white;
  border-radius: var(--border-radius);

  width: 15rem;
  text-align: center;
  font-size: 2rem;
}
