#wh_study_word {
  display: inline-block;
  margin-top: .25em;
  font-size: 2em;
  cursor: pointer;
}

#wh_study_word:hover {
  color: blue;
}

#wh_word_def {
  display: inline-block;
  font-size: 1.7em;
  width: 1em;
  border-radius: .25em;
  padding: 0 .2em 0 .2em;
  background-color: #336600;
  color: white;
  margin-left: .5em;
  height: 1.3em;
  line-height: 1.3em;
  text-align: center;
}

#wh_word_def:hover {
  background-color: #339900;
  cursor: pointer;
}


.pr_lesson_flex_heading {
  display: flex;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding: 0 .5em 0 .5em;
}
.pr_lesson_flex {
  display: flex;
  padding: .25em .5em .25em .5em;
  border-radius: .25em;
}
.pr_lesson_when { width: 15%; }
.pr_lesson_type { width: 15%; }
.pr_lesson_grade { width: 10%; }
.pr_lesson_pct { width: 10%; }
.pr_lesson_missed { width: 10%; }
.pr_lesson_options { width: 40%; }

.dc_lesson_question {
  margin-top: 1em;
}
